

:root {
--primary-color: #0b3c3d;
--secondary-color: #56acad;
--accent1: #bababa;
--high-interest: rgba(55, 223, 119, 0.7);
--medium-interest: rgba(250, 241, 109, 0.7);
--low-interest: rgba(242, 84, 91, 0.6);
--heading-font: "Quicksand", "Lato", Helvetica, sans-serif;
--paragraph-font: "Barlow", "Lato", Helvetica, sans-serif;
}

body {
   margin: 0;
}

h1 {
   text-align: center;
}
header {
   display: grid;
   grid-template-rows: 2fr 1fr;
   grid-template-columns: 150px auto;
   align-items: center;
   padding-right: 1rem;
   background-color: var(--secondary-color);
}

.logo {
   grid-row: 1/3;
}

h1 {
   grid-row: 1/2;
}

h1, h2, h3 {
   font-family: var(--heading-font);
}

nav {
   margin: auto;
   display: flex;
   justify-content: space-evenly;
   width: 100%;
   margin-top: 0;
}

nav a {
   text-align: center;
   display: flex;
   justify-content: space-evenly;
}

a {
   text-decoration: none;
   color: black;
}

p a {
   font-weight: bold;
}

a:hover {
   text-decoration: underline;
}

.logo {
   width: 125px;
   height: 125px;
   padding: 0.75rem;
}

main {
   width: 80%;
   margin: auto;
   font-family: var(--paragraph-font);
   margin-bottom: 4rem;
}

form {
   margin: auto;
   min-width: 250px;
   max-width: 500px;
}

input, select, textarea {
   width: 98%;
   padding: 1px 2px;
   margin-bottom: 10px;
}

select {
   width: 99.5%;
}

fieldset {
   background-color: var(--accent1);
   border: none;
}

legend {
   padding: 2px;
   font-weight: bold;
   font-size: 1.25rem;
}

.title-icon {
   display: flex;
   margin: auto;
   justify-content: center;
   margin-top: 1.5rem;
   margin-bottom: 0.5rem;
   align-items: center;
   gap: 10px;
}

.application-img {
   width: 60px;
   height: 60px;
}

.application-card img {
   width: 25px;
   height: 25px;
   display: flex;
   margin: auto;
   translate: 30px;
}

.application-card button {
   margin: 0 10px;
}

.application-card {
   border: 1px solid black;
   padding: 0.5rem 1rem;
   width: 250px;
   margin: auto;
}

#application-list {
   display: flex;
   flex-wrap: wrap;
   gap: 2rem 1rem;
   margin: auto;
   padding: 0;
}

.search-button img {
   width: 25px;
   height: 25px;
}

#section-headers {
   display: none;
}

.application-card button {
   width: 35px;
   height: 35px;
   border: none;
   background-color: white;
}

.search-form {
   display: flex;
   padding: 1rem 0 1.5rem;
   justify-content: center;
   border-bottom: 2px solid var(--line-color);
   margin: 1.5rem auto 0;
}

.search-form input {
   border-radius: 5px 0 0 5px;
   border-right: none;
   width: 100%;
   font-size: 1.25rem;
   margin-bottom: 0;
}

.search-form button {
   border-radius: 0 5px 5px 0;
}

.view-app-header {
   margin-top: 0.5rem;
}

li {
   list-style-type: none;
}

.application-item {
   margin: auto;
}

.edit-application {
   margin-bottom: 2rem;
}

.detail-title {
   border-bottom: 1px solid black;
}


@media (min-width: 800px) {
   main {
      width: 650px;
   }

   h1 {
      margin-left: 10%;
   }

   header a {
      font-size: 1.25rem;
   }
   
   .details-dropdown {
      grid-column: span 2; 
      justify-self: end; 
   }

   .application-card {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
   }

   .application-card .more-details {
      grid-column: 1/3; 
   }

   header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: var(--secondary-color);
   }
   
   nav {
      margin: auto;
      display: flex;
      justify-content: space-evenly;
      width: 45%;
   }
   
   nav a {
      text-align: center;
   }
   
   a {
      text-decoration: none;
      color: black;
   }

   li {
      width: 650px;
   }

   .application-card {
      display: grid;
      width: 600px;
      padding: 0 1rem;
      background-color: var(--accent1);
   }

   .main-details {
      display: flex;
      width: 600px;
      justify-content: space-between;
      align-items: center;
   }

   .application-card button {
      background-color: var(--accent1);
   }

   .more-details {
      grid-column: 1/6;
      display: flex;
   }

   #application-list {
      padding: 0;
   }
   
   div#section-headers {
      display: flex;
      width: 328px;
      justify-content: space-between;
      margin-left: 25px;
   }

   .application-card img {
      translate: 0px;
   }

   .interest {
      display: flex;
      border: 1px solid black;
      text-align: center;
      align-items: center;
      justify-content: center;
      width: 65px;
      height: 30px;
      padding: 5px;
   }

   .high-interest {
      background-color: var(--high-interest);
   }
   
   .medium-interest {
      background-color: var(--medium-interest);
   }

   .low-interest {
      background-color: var(--low-interest);
   }

   .company-name {
      max-width: 145px;
   }
}


