body {
   margin: 4rem 0;
}

.content {
   font-size: 20px;
   font-family: 'Times New Roman';
   border: 1px solid lightgray;
   padding: 2rem 9rem;
   max-width: 600px;
   margin: auto;
   line-height: 1.5;
}

h1 {
   font-size: 42px;
   margin-bottom: 1rem;
}

h1, h2 {
   text-align: center;
   text-transform: uppercase;
   letter-spacing: 1.5px;
}

h2 {
   color: #006EB6;
   font-size: 20px;
   border-bottom: 1px solid lightgray;
   letter-spacing: 2px;
   padding-bottom: 0.25rem;
   font-weight: 500;
}

header {
   margin-bottom: 3rem;
}

li {
   margin: 1rem 0;
}

img {
   display: flex;
   width: 150px;
   height: auto;
   margin: 3.5rem auto 1rem;
}

.dark {
   background-color: #333;
   color: white;
}

.dark h2 {
   color: #A0D4ED;
}